@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    A simple MVC template made using Visual Studio 2019 on a Windows computer. Part of the Full Stack Application Development Manager course. 
    Taught through <a href="https://perscholas.org/">Per Scholas</a>, sponsored by <a href="https://www.infosys.com/">Infosys</a>
</p>
